@page
@model WebApp.Pages.CreateUser
@{
}
<main>
    <form>
        <h2>Create user</h2>
        <label for="Username">Username</label><input type="text" name="CompanyName" value="" />
        <label for="Password">password</label><input type="password" name="Password" value="" />
        <label for="ConfirmPassword">confirm password</label><input type="password" name="ConfirmPassword" value="" />
        <label for="email">email</label><input type="email" name="email" value="" />
        <input type="submit" value="Create user" class="submit"/>
    </form>
</main>