@page
@model WebApp.Pages.LoginModel
@{
}
<main>
    <form>
        <h2>Login user</h2>
        <label for="Username">Username or email</label><input type="text" name="CompanyName" value="" />
        <label for="Password">password</label><input type="password" name="Password" value="" />
        <input type="submit" value="Login" class="submit"/>
    </form>
</main>